<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo List</title>
    <link rel="stylesheet" href="/remixicon/remixicon.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <script src="/js/script.js" type="text/javascript"></script>

    <link rel="icon" href="/check-mark.png" sizes="16x16 32x32 48x48 64x64" type="image/x-icon">
    <!-- Include Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <!-- Include jQuery (required for Toastr) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Include Toastr JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>

<body>


    <div class="loader-main">
        <div class="loader">
            <div class="cube">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>

    <div class="content" style="display: none;">

        <h1 class="title"><span class="border">To Do List</span></h1>

        <form action="/insertdata" method="post">
            <div class="drop-container">
                <label class="custom-field three">
                    <input type="text" placeholder="&nbsp;" name="title">
                    <span class="placeholder">Enter Task</span>
                    <span class="border"></span>
                </label>
                <div class="custom-checkbox">
                    <div class="d-flex align-center"><input type="checkbox" name="reminderDays[]" value="3"> <span>3
                            Day</span></div>
                    <div class="d-flex align-center"> <input type="checkbox" name="reminderDays[]" value="7"> <span>7
                            Day</span>
                    </div>
                    <div class="d-flex align-center"><input type="checkbox" name="reminderDays[]" value="15"> <span>15
                            Day</span>
                    </div>
                    <div class="d-flex align-center"><input type="checkbox" name="reminderDays[]" value="30"> <span>30
                            Day</span>
                    </div>
                </div>

                <button type="submit" class="button">Add Task</button>
                <a href="/viewtask" class="button">Show Task</a>
            </div>
        </form>
    </div>

</body>

</html>
<script>
    // Toastr configuration (optional)
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": true,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    // Example function to show a Toastr notification
    <% if (err) { %>
        toastr.error('<%= err %>');
    <% } %>
    <% if (success) { %>
        toastr.success('<%= success %>');
    <% } %>

</script>